.clear-button {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.4em;
  background-color: #d5422d;
  color: #000000;
  flex: 1;
  cursor: pointer;
}

.clear-button:hover {
  background-color: rgba(40, 44, 52, 0.8);
}

.clear-button:active {
  transform: scale(0.92);
}
