.keypad-wrapper {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.4em;
  background-color: #f5f0e5;
  color: #0f2739;
  flex: 1;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.operator {
  background-color: #ffba00;
  color: #0f2739;
  font-weight: bold;
  cursor: pointer;
}

.keypad-wrapper:hover {
  background-color: rgba(40, 44, 52, 0.8);
}
.keypad-wrapper:active {
  transform: scale(0.92);
}
